################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Manager
*.dll
*.pdb
*.txt
*.cache
*.config
/.vs/JJSoluciones/v14
/SoftwareFacturacion/bin/Debug
/SoftwareFacturacion/obj/Debug
*.sln
