<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Servidor"
      connectionString="Server=ALAIPC\SQLEXPRESS;Database=JJSoluciones;User Id=sa;Password=1234;Timeout=20;MultipleActiveResultSets=True;"/>

   

    <!-- connectionString="Data Source=agui.ddns.net,1433;Network Library=DBMSSOCN;Initial Catalog=AguinaG;User ID=sa;Password=ICG;"/> -->

  </connectionStrings>
</configuration>