<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
   
    <add name="Servidor" connectionString="Server=DESKTOP-9I9RQKF\SQLEXPRESS;Database=JJSoluciones;User Id=sa;Password=ICG;Timeout=20;MultipleActiveResultSets=True;"/>

  </connectionStrings>
</configuration>