<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
   
  
    <add name="Servidor"
        connectionString="Server=172.22.20.47\SQLCENTRO;Database=JJSoluciones;User Id=sa;Password=Aguiñagalde*;Timeout=20;MultipleActiveResultSets=True;"/>

  </connectionStrings>
</configuration>